<footer id="footer">
  <div class="container">
    <div class="sns">
      <h4>Follow Me</h4>
      <ul class="icons">
        <li class="circle">
          <%= link_to "https://twitter.com/OtsukaSatoshi", rel: "noopener", target: "_blank" do %>
          <i class="fa fa-twitter" aria-hidden="true"></i>
          <% end %>
        </li>
        <li class="circle">
          <%= link_to "http://blog.otsukasatoshi.com", rel: "noopener", target: "_blank" do %>
          <i class="fa fa-rss" aria-hidden="true"></i>
          <% end %>
        </li>
        <li class="circle">
          <%= link_to "https://github.com/OtsukaSatoshi", rel: "noopener", target: "_blank" do %>
          <i class="fa fa-github" aria-hidden="true"></i>
          <% end %>
        </li>
      </ul>
    </div>
    <div class="copyright">
      Copyright &copy; OTSUKA SATOSHI
    </div>
  </div>
</footer>
