<div id="global-nav" class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <i class="fa fa-bars"></i>
      </button>
      <%= link_to root_path, class: "navbar-brand" do %>
        <span>OTSUKA SATOSHI</span>
      <% end %>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <!-- ヘッダー右側 -->
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "About", about_path %></li>
        <li><%= link_to "Works", "#" %></li>
        <li><%= link_to "SNS", "#" %></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container -->
</div>
