<div id="top">
  <h1>"Hello, World."</h1>
  <div class="arrow-down">
    <div class="left"></div>
    <div class="right"></div>
  </div>
</div>
<%= render "shared/global_nav" %>
<div id="about">
  <div class="container">
    <h2>About</h2>
    <div class="wrap">
      <div class="image-box">
        <%= image_tag "portfolio.jpg" %>
      </div>
      <div class="text-box">
        <h3>OTSUKA SATOSHI</h3>
        <p>そのうちいろいろ書きます。</p>
      </div>
    </div>
  </div>
</div>
<%= render "shared/footer" %>
