<div class="about-top">
  <h1>Otsuka Satoshi</h1>
</div>
<div class="about-bottom">
  <div class="container">
    <div class="about-flex">
      <div class="career">
        テキスト
      </div>
      <div class="intro">
        テキスト
      </div>
      <div class="skill">
        テキスト
      </div>
    </div>
  </div>
</div>
