// Place all the styles related to the about controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// アバウト上
.about-top{
  background-color: #9cb1c2;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  h1{
    color: #ffffff;
    letter-spacing: 10px;
    font-size: 21px;
    font-weight: lighter;
  }
}

// アバウト下
.about-bottom{
  padding: 100px 0;
  height: 50vh;
}

// アバウトのflexbox
.about-flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// スマホ
@media(max-width: 767px){

  // スマホ版アバウト上
  .about-top h1{
    font-size: 18px;
    letter-spacing: 5px;
  }

  // スマホ版アバウトのflexbox
  .about-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

}
