/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "home.scss";
@import "about.scss";

// 共通css
html, body {
  height: 100%;
}
body{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

// 文字
h1, h2, h3 ,h4, h5, h6, p{
  margin: 0;
  padding: 0;
  color: #333333;
}

//リンク
a{
  text-decoration: none;
  color: #333333;
  &:hover{
    text-decoration: none;
    color: #333333;
  }
}

//リスト
ul, li{
  margin: 0;
  padding: 0;
  list-style-type: none;
}
