// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// トップページ
#top{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  h1{
    font-size: 40px;
    letter-spacing: 10px;
  }
}

// スクロール
.arrow-down{
  width: 40px;
  height: 40px;
  margin: 0 0 0 -15px;
  position: absolute;
  left: 50%;
  bottom: 0px;
  -webkit-animation: arrow 0.5s 1s infinite ease-out alternate;
  &:hover{
     -webkit-animation-play-state: paused;
  }
}

// スクロール左
.left{
  position: absolute;
  height: 3px;
  width: 15px;
  background-color: #333333;
  -webkit-transform: rotate(240deg);
  top: 10px;
  left: 10px;
  -webkit-border-radius: 4px;
  -webkit-transform-origin: 2px 50%;
  -webkit-animation: leftArrow 0.5s 1s infinite ease-out alternate;
}

// スクロール右
.right{
  position: absolute;
  height: 3px;
  width: 15px;
  background-color: #333333;
  -webkit-transform: rotate(-60deg);
  top: 10px;
  left: 11px;
  -webkit-border-radius: 4px;
  -webkit-transform-origin: 2px 50%;
  -webkit-animation: rightArrow 0.5s 1s infinite ease-out alternate;
}

// keyframeの設定
@-webkit-keyframes arrow{
  0% {
    bottom:0px;
  }
  100%{
    bottom:40px;
  }
}

// keyframe左
@-webkit-keyframes leftArrow{
  0% {
  }
  100%{
    -webkit-transform:rotate(225deg);
  }
}

// keyframe右
@-webkit-keyframes rightArrow{
  0% {
  }
  100%{
    -webkit-transform:rotate(-45deg);
  }
}

// グローバルナビ
#global-nav{
  background-color: #ffffff;
  line-height: 100%;
  font-size: 16px;
  letter-spacing: 5px;
  a{
    color: #333333;
  }
}

// bootstrapのnavbar
button.navbar-toggle{
  background: none;
  border: none;
  &:hover{
    background: none;
  }
}

// navbar
.navbar{
  border: none;
}

// navbarを開いたときのメニュー
.navbar-collapse{
  border: none;
  text-align: center;
}

// navbarのロゴ
.navbar-brand{
  font-size: 18px;
}

// navbar右側のリンクのエフェクト
.navbar-right a:hover{
  border-bottom: 2px solid #9cb1c2;
  padding-bottom: -2px;
}

// ボタンをタップした時にfocusしないように
.navbar-default .navbar-toggle:focus{
  background-color: transparent;
}

// flexコンテナ
.flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// ナビ固定
.fix-nav {
  z-index: 9999;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}

// ナビ固定時のbodyの余白
.fix-body {
  margin-top: 50px;
}

// アバウト
#about{
  padding: 100px 0;
  text-align: center;
  h2{
    border-bottom: 3px solid #9cb1c2;
    padding: 10px;
    display: inline-block;
    letter-spacing: 10px;
    font-size: 24px;
    margin-bottom: 30px;
  }
}
.wrap{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  letter-spacing: 5px;
  padding: 15px 0;
}
.image-box{
  flex-basis: 50%;
  padding: 15px 0;
  img{
    width: 200px;
    height: 200px;
    max-width: 100%;
    max-height: auto;
    border: 1px solid #f2f2f2;
    border-radius: 50%;
  }
}
.text-box{
  flex-basis: 50%;
  padding: 15px 0;
  h3{
    font-size: 21px;
    margin-bottom: 30px;
  }
  p{
    font-size: 14px;
  }
}

// フッター
#footer{
  padding: 50px 0;
  text-align: center;
}

// sns外枠
.sns{
  margin-bottom: 60px;
  h4{
    font-size: 18px;
    margin-bottom: 30px;
    letter-spacing: 5px;
  }
}

// snsアイコン(外枠)
.icons{
  display: flex;
  justify-content: center;
  align-items: center;
}

// snsアイコン(サイクル)
.circle{
  width: 60px;
  height: 60px;
  background-color: #e6e6e6;
  border-radius: 50%;
  text-align: center;
  margin: 0 10px;
  &:hover{
    background-color: #f2f2f2;
  }
  a{
    display: block;
    color: #ffffff;
    &:hover{
      color: #ffffff;
    }
  }
  .fa{
    line-height: 60px;
    font-size: 30px;
  }
}

// コピーライト
.copyright{
  font-size: 12px;
}

// スマホ
@media(max-width: 767px){

  // スマホ版トップ
  #top h1{
    font-size: 27px;
    letter-spacing: 5px;
  }

  // スマホ版グローバルナビ
  #global-nav{
    letter-spacing: 2.5px;
  }

  // navbarのロゴ
  .navbar-brand{
    font-size: 14px;
  }

  // スマホ版ナビ右
  .nav-right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    width: 100%;
    background-color: #ffffff;
  }

  // スマホ版navbar右側のリンクのエフェクト
  .navbar-right a:hover{
    border: none;
  }

  // スマホでトグルボタンを押したときの背景色
  .navbar-default .navbar-toggle:hover,
  .navbar-default .navbar-toggle:focus {
    background-color: #ffffff;
  }

  // スマホ版アバウト
  #about h2{
    font-size: 21px;
    letter-spacing: 5px;
  }
  .wrap{
    flex-direction: column;
    align-items: center;
    letter-spacing: 2.5px;
  }
  .image-box{
    flex-basis: auto;
    img{
      width: 80px;
      height: 80px;
    }
  }
  .text-box{
    flex-basis: auto;
    h3{
      font-size: 18px;
    }
  }

  // スマホ版sns外枠
  .sns h4{
    font-size: 16px;
  }

  // スマホ版snsアイコン(サイクル)
  .circle{
    width: 40px;
    height: 40px;
    .fa{
      line-height: 40px;
      font-size: 20px;
    }
  }

  // コピーライト
  .copyright{
    font-size: 10px;
  }

}// スマホレスポンシブここまで
